html body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #6EC5F7;
}

/*Navigation bar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #416CC0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid black;
  transition: 0.3s;
  background-color: #416CC0;
}

.sidenav a:hover {
  background-color: #ede8e8;
}

.active,
.dot:hover {
  background-color: #717171;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
  border: 2px solid black;
}

#main {
  transition: margin-left .5s;
}

.image-container {
  display: flex;
  flex: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.image-box {
  text-align: center;
  flex: 1 1 300px;
  max-width: 45%;
  min-width: 250px;
}

.image-box img {
  width: 100%;
  height: auto;
  border: 2px solid #416CC0;
  border-radius: 10px;
}

.image-description {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

/*footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  height: 75px;
  width: 100%;
  background-color: #416CC0;
  color: white;
  text-align: center;
}

h1 {
  font-size: 75px;
  text-align: center;
  margin: 0;
  padding: 0;
}
