html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.top-strip,
.bottom-strip {
  background-color: #3498db;
  height: 75px;
  width: 100%;
  font-size: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.top-strip span {
  flex: 1;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.game {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.game img {
  width: 100%;
  height: auto;
  flex: 1;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.login-button {
  background-color: #3498db;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  margin: 50px;
  border: 2px solid black;
}

.top-strip .login-button {
  position: absolute;
  right: 20px;
  font-size: 20px;
}

#login-button2 {
  margin-top: 0;
}